@media screen and (max-width: 780px) {

    nav ul li {
        font-size: 0.8rem;
        width: 25%;
        float: none;
    }

    .profilePicture {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {

    nav ul li {
        font-size: 0.95rem;
        width: 33%;
        float: none;
        text-align: left;
    }

    nav > ul  li  a {
        padding: 0 5px 0 5px !important;
        float: left;
    }

    nav li ul li a {
        width: 150px;
    }

    main .profilePicture {
        width: 90%;
    }

}

@media screen and (max-width: 530px) {

    main article figure {
        float: none;
    }

    main .profilePicture {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {

    nav ul li {
        width: 50%;
    }

    nav ul li a {
        text-align: center;
        padding-right: 0 !important;
    }

    main .profilePicture {
        width: 90%;
    }

    main {
        margin: 2% 1% 0 1%;
    }
}

@media screen and (max-width: 330px) {

    main .profilePicture {
        width: 95%;
    }
}