aside {
    display: none;
}

main {
    width: 90%;
}

@media screen and (max-width: 780px) {

    nav ul li {
        font-size: 0.8rem;
        width: 25%;
        float: none;
    }
}

@media screen and (max-width: 600px) {

    nav ul li {
        font-size: 0.95rem;
        width: 33%;
        float: none;
        text-align: left;
    }

    nav > ul  li  a {
        padding: 0 5px 0 5px !important;
        float: left;
    }

    nav li ul li a {
        width: 150px;
    }
}

@media screen and (max-width: 350px) {

    nav ul li {
        width: 50%;
    }
}