html {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    padding: 0;
}

body {
    margin: 0;
     background-image: url("../res/Site_pattern.png");
    background-repeat: repeat;
}

/* header */
header {
    margin: 0;
}

div#container {
    margin: 0 4% 0 4%;
}

#logo {
    text-align:center;
    height: 100px;
    color: white;
    width: 600px;
    text-align: left;
}

#borderline {
    height: 35px;
    margin-top: 0;
}

nav {
    vertical-align: bottom;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #d329b5;
}

nav li {
    -webkit-transition: all 0.2s;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
    height: 50px;
}

nav ul#main > li:last-of-type {
    border-right: none;
}

a.drop:after {
    content: ' \25bc';
    font-size: 0.85em;
}

nav li ul {
    -webkit-transition: all 1s;
    visibility: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    position: absolute;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    border: solid 1px black;
}

nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

nav li:hover {
    background-color: #759727;
}

nav li:hover > a {
    color: #fff;
}

nav li ul li {
    text-align: left;
    background-color: #353638;
    border-bottom: solid 1px black;
    float: none;
    width: 100%;
}

nav ul li ul li:last-of-type {
    border-bottom: none;
}

nav li a {
    -webkit-transition: all 0.5s;
    text-align: center;
    text-decoration: none;
    color: #C4C4C4;
    font: 16px/50px Helvetica;
    display: block;
    width: auto;
    padding: 0 25px 0 25px;
}

nav li ul a {
    padding: 0 15px 0 15px;
    font: 16px/50px sans-serif;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}


/* main */

main  {
    display: inline-block;
    width: 73%;
    height: 700px;
    border: solid 1px black;
    background-color: #759727;
    margin: 5% 3% 3% 3%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
}

aside {
    background-color: #759727;
    vertical-align: top;
    border-top-left-radius: 25px;
    display: inline-block;
    width: 15%;
    height: 200px;
    border: solid 1px black;
    margin: 5% 2% 1% 0.5%;
}

/* footer */
footer {
    background-color: #759727;
    height: 150px;
    border-top: solid 1px black;
    margin: 0;
}